html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --secondary-text-color: #c4c4c4;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --our-team-background-color: #f5f4fa;
  --copyright-color: rgba(255, 255, 255, 0.4);
  --contacts-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: rgba(47, 48, 58, 0.8);
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Page */

.page-header {
  background-color: var(--primary-white-color);
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid teal;
}

.container-one {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.logo-header {
  color: var(--primary-text-color);
  font-size: 26px;
  line-height: 1, 19;
}
.accent {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--primary-white-color);
  font-size: 22px;
  line-height: 1, 18;
}

.list {
  list-style: none;
}

/* Site nav */
.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav.link:hover {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav.list {
  display: flex;
  margin-left: 85px;
}

.site-nav.list :not(:last-child) {
  margin-right: 40px;
}

.contact-nav {
  display: flex;
  margin-left: 30px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.contact-nav:hover,
.contact-nav:focus {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

/* Hero */
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
}

.button-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  text-align: center;

  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
}

/* Features */

.features {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-background-color);
}

.feature-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

/* Work list */

.work {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  margin-bottom: 94px;
}

.work.list .item {
  padding-top: 50px;
  padding-bottom: 94px;
}

.work-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 83px;
  padding-right: 82px;
}

/* Our team */

.team {
  background-color: var(--our-team-background-color);
}

.our-team {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  margin-bottom: 50px;
}

.team-name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-title {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  margin-bottom: 16px;
}

/* Customers */
.customers {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
}

/* Portfolio */
.ghost {
  visibility: hidden;
}

.flex-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: calc((100%-60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0px;
}

.flex-element:nth-child(-n + 3) {
  margin-bottom: 0px;
}

.our .list {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button-secondary :hover,
.button-secondary :focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-secondary {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63px;
  text-align: center;

  display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  margin-right: 8px;
  min-width: 73px;
  border-radius: 4px;
}

.title-services {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.services-name {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88;
}

.services-text {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 56;
}

/* Footer */
.footer {
  background-color: var(--secondary-background-color);
}

.adress {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}
.contacts {
  color: var(--contacts-color);
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
}

.join {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
}
.sign {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
}

.follow-us {
  color: var(--primary-text-color);
}
.copyright {
  color: var(--copyright-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
}
